.jumbotron{
    background: url("../img/open-book.jpg");
    box-shadow: 0 5px 15px -5px #00000070;
    color: white;
    margin-top: 10px;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-content {
    z-index: 1100 !important;
}

.text-center{
    text-align: center
}
.no-bottom-margin{
    margin-bottom: 0;
}
.margin-5b{
    margin-bottom: 5px;
}
.margin-10b{
    margin-bottom: 10px;
}
.margin-10t{
    margin-top: 10px;
}
.margin-20t{
    margin-top: 20px;
}
.margin-0l{
    margin-left: 0;
}
.margin-15l{
    margin-left: 15px
}
.margin-5r{
    margin-right: 5px;
}
.card-size{
    height: 151px;
}
.turquoise{
    color: #60a3bc;
}
.card img {
    width: 80%;
}
.padding-0{
    padding: 0px;
}
.marginBottom{
    margin-bottom: 5px;
}
.btn-primary{
    background-color: #60a3bc;
    border-color: #60a3bc;
}
.btn-primary :hover{
    border-color: #60a3bc;
}
.cover{
    object-fit: cover;
}
.link {
    color: #60a3bc;
}
.link-btn{
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    padding-right: 0px;
    padding-left: 0px;
}
.link-td-btn input:hover{
    color: #007bff;
}
.font25{
    font-size:25px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.page-link{
    color: #60a3bc;
}
.email{
    color: white;
}
.footer-top{
    background-color: rgba(0,0,0,0.7);
    padding: 60px 0 30px 0;
}
.footer-info{
    margin-bottom: 30px;
}
.footer-info h3{
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Monstreet" , sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.footer-info p{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Monstreet" , sans-serif;
    color:#eef5ff;
}
.footer-top h4{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    position:center;
    padding-bottom: 10px;
}
.footer-links{
    margin-bottom: 30px;
}
.footer-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links{
    color: #bfddfe;
}

.footer-links ul li{
    padding: 8px 0;
}
.footer-links ul li:first-child{
    padding-top: 0;
}
.footer-links ul a{
    color: #f1f7ff;
}
.footer-links ul a:hover{
    color: #74b5fc;
}
.footer-contact{
    margin-bottom: 30px;
}
.footer-contact p{
    line-height: 26px;
}
.credits{
    text-align: center;
    font-size: 13px;
    color: #bfddfe;
}
.credits a:hover{
    color: #f1f7ff;
}
