<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bibliotheque.css}"/>
    <title>Fiche livre</title>
</head>
<body>
<!--NAVBAR-->
<div th:include="navbar.html"></div>

<!--BODY-->
<div class="container">
    <div class="jumbotron">
        <div>
            <h1 class="display-4"><strong><p th:text="${livre.titre}"></p></strong></h1>
        </div>
    </div>
    <blockquote class="blockquote text-right">
        <p class="mb-0">Auteur : <a class="link" th:href="@{|/details-auteur/${livre.getAuteurs().get(0).getId()}|}" th:text="${livre.auteurs.get(0).prenom + ' ' + livre.auteurs.get(0).nom}"></a></p>
    </blockquote>
    <div>
        <hr class="my-4">
    </div>
    <div class="row">
        <div class="information col-lg-5">
            <div class="photo col-lg-12">
                <img class="img-fluid" th:src="@{${'/img/' + livre.image}}" th:alt="${livre.titre}">
            </div>
            <hr class="my-4">
            <div th:if="${compte} != null" class="bibliotheque col-lg-12">
                <h3 class="text-center"><strong>Disponibilité</strong></h3>

                <!-- RegleGestion 3 -->
                <ul class="list-group" th:if="${pretEnCours == true}">
                    <li class="list-group-item list-group-item-danger">
                        Vous avez un prêt ou une réservation en cours
                    </li>
                    <li class="list-group-item list-group-item-action turquoise" th:each="bibliotheque : ${bibliotheques}">
                        <span th:text="${bibliotheque.nom}"> </span>

                        <button th:if="${bibliotheque.countExemplaireLivre() > 0}"
                                type="button" disabled class="btn btn-secondary pull-right">
                            Disponible <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>

                        <button th:if="${bibliotheque.countExemplaireLivre() == 0 and bibliotheque.listesAttentes.get(0).getSizeListAttente() > 0}"
                                type="button" disabled class="btn btn-secondary pull-right">
                            Réserver <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>

                        <button th:if="${bibliotheque.countExemplaireLivre() == 0 and bibliotheque.listesAttentes.get(0).getSizeListAttente() == 0}"
                                type="button" disabled class="btn btn-secondary pull-right">
                            Indisponible <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>
                    </li>
                </ul>

                <ul class="list-group" th:if="${pretEnCours == false}">
                    <li class="list-group-item list-group-item-action turquoise" th:each="bibliotheque : ${bibliotheques}">
                        <span th:text="${bibliotheque.nom}"> </span>
                        <!-- RegleGestion 2 et 5 -->
                        <button th:if="${bibliotheque.countExemplaireLivre() > 0}"
                                type="button" class="btn btn-primary pull-right"  data-toggle="modal" data-target="#Modal-reservation" th:attr="data-target='#modal-reservation'+${bibliotheque.getid_biblio()}">
                            Disponible <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>

                        <button th:if="${bibliotheque.countExemplaireLivre() == 0 and bibliotheque.listesAttentes.get(0).getSizeListAttente() > 0}"
                                type="button" class="btn btn-warning pull-right"  data-toggle="modal" th:attr="data-target='#modal-prereservation'+${bibliotheque.getid_biblio()}">
                            Réserver <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>

                        <button th:if="${bibliotheque.countExemplaireLivre() == 0 and bibliotheque.listesAttentes.get(0).getSizeListAttente() == 0}"
                                type="button" class="btn btn-danger pull-right"  data-toggle="modal" th:attr="data-target='#modal-indisponible'+${bibliotheque.getid_biblio()}">
                            Indisponible <span class="badge badge-light pull-right" style="margin-top: 5px ; margin-left: 5px" th:text="${bibliotheque.countExemplaireLivre()}"></span></button>

                        <!-- Modal reservation-->
                        <div class="modal fade" data-backdrop="false" th:id="modal-reservation+${bibliotheque.getid_biblio()}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel1">Réservation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <form name="réservation" action="#" th:action="@{/gestion/addByUser}" method="post">
                                                <input type="hidden" name="id_livre" th:value="${livre.getid_livre()}" />
                                                <input type="hidden" name="id_bibliotheque" th:value="${bibliotheque.getid_biblio()}" />
                                                <label>le livre </label>
                                                <label th:text="${livre.titre}"></label>
                                                <label>est disponible dans la</label>
                                                <label th:text="${bibliotheque.getNom()}"></label>
                                                <label>Souhaitez vous le réserver ? </label>
                                                <input type="submit" class="btn btn-primary" value="Réserver" />
                                            </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal prereservation-->
                        <div class="modal fade" data-backdrop="false" th:id="modal-prereservation+${bibliotheque.getid_biblio()}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel2">Préréservation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="préreservation" action="#" th:action="@{/gestion/userPrereservation}" method="post">
                                            <input type="hidden" name="id_livre" th:value="${livre.getid_livre()}" />
                                            <input type="hidden" name="id_bibliotheque" th:value="${bibliotheque.getid_biblio()}" />
                                            <label>Le livre </label>
                                            <label th:text="${livre.titre}"></label>
                                            <label>n'est pas disponible dans la </label>
                                            <label th:text="${bibliotheque.getNom()}"></label>
                                            <br>
                                            <label>Vous etes n° </label>
                                            <label th:text="${bibliotheque.listesAttentes.get(0).getnbrePrereservation()+1}"></label>
                                            <label> sur la liste d'attente.</label>
                                            <br>
                                            <label>Il sera disponible dans environ : </label>
                                            <label th:text="${bibliotheque.listesAttentes.get(0).getnbrePrereservation()*28+28}"></label>
                                            <label> jour(s).</label>
                                            <br>
                                            <label>Vous serez prévenu de la disponibilité de l'ouvrage par email.</label>
                                            <label>Souhaitez vous le préréserver ? </label>
                                            <br>
                                            <input type="submit" class="btn btn-primary" value="Préréserver" />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal indisponible-->
                        <div class="modal fade" data-backdrop="false" th:id="modal-indisponible+${bibliotheque.getid_biblio()}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel3" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel3">Indisponible</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <label>Le livre </label>
                                            <label th:text="${livre.titre}"></label>
                                            <label>est indisponible dans la </label>
                                            <label th:text="${bibliotheque.getNom()}"></label>
                                            <br>
                                            <label>la liste d'attente est pleine.</label>
                                            <br>
                                            <label>Il sera disponible pour prêt dans environ : </label>
                                            <label th:text="${bibliotheque.listesAttentes.get(0).getnbrePrereservation()*28+28}"></label>
                                            <label> jour(s).</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>



        <div class="describe col-lg-7">
            <h3 class="text-center"><strong>Informations</strong></h3>
            <hr class="my-4">

            <div class="row">
                <div class="col-6">
                    <p>Genre : <label th:text="${livre.genre.genre}"></label></p>
                </div>
                <div class="col-6 text-sm-right">
                    <p>Editeur : <label th:text="${livre.editeur.nom}"></label></p>
                </div>
                <div class="col-6">
                    <p>Date de parution : <label th:text="${livre.annee_parution}"></label></p>
                </div>
                <div class="col-6 text-sm-right">
                    <p>Code Isbn-13 : <label th:text="${livre.isbn13}"></label></p>
                </div>
            </div>
            <hr class="my-4">
            <div>
                <p>Résumé : <label th:text="${livre.resume}"></label></p>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
</div>

<!--FOOTER-->
<div th:include="footer.html"></div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>

<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
</body>
</html>